.section-title {
    font-size: 1.1rem;
    text-align: left;
    border-bottom: 1px solid darkgray;
}

.education-content {
    margin: 15px;
}

.education-row,
.education-header{
    margin: 15px 0;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.education-header {
    border-bottom: 1px solid darkgray;
}

.education-item,
.education-header-item {
    display:table-cell;
    padding: 5px 0;
}

.education-item {
    text-align: left;
    padding-left: 15px;
    font-size: 0.9rem;
}

.education-item:last-child {
    text-align: center;
}

.update-education-link,
.delete-education-link {
    font-weight: 700;
    color: rgb(2, 15, 20);
    text-decoration: none;
    margin: 0 15px;
}
    
.update-education-link:hover,
.delete-education-link:hover {
    color: rgba(2, 15, 20, 0.5);
}

.education-new-button {
    padding: 10px;
    width: 210px;
    margin-bottom: 50px;
}